body {
    background-color: aqua;
    border: 5px solid #388e3c;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    border-radius: 10px; /* Mengotakkan semua sisi body */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-bottom: 2px solid #388e3c; /* Tambahkan border bawah pada header */
    border-radius: 10px 10px 0 0; /* Mengotakkan sudut atas header */
}

header h1 {
    margin-top: 0;
    border: 2px solid white; /* Tambahkan border pada judul */
    padding: 10px; /* Tambahkan padding untuk memperindah tampilan */
    border-radius: 10px; /* Mengotakkan sudut judul */
}

header h2 {
    margin-bottom: 0;
    border: 2px solid white; /* Tambahkan border pada judul */
    padding: 10px; /* Tambahkan padding untuk memperindah tampilan */
    border-radius: 10px; /* Mengotakkan sudut judul */
}

#about {
    padding: 20px;
    border: 2px solid white; /* Tambahkan border pada section about */
    border-radius: 10px; /* Mengotakkan sudut section about */
}

#about h3 {
    margin-top: 10px;
}


#profile-image {
    text-align: center;
    margin-top: 20px;
}

#profile-image img {
    max-width: 50%;
    border: 2px solid #388e3c;
    border-radius: 4px;
}

#action {
    text-align: center;
    margin-top: 20px;
}

#action button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-top: 2px solid #388e3c;
    border-left: 2px solid #388e3c;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#action button:hover {
    background-color: #45a049;
}
