body {
    background-color: aqua;
    border: 5px solid #388e3c;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
  }
  
  header h1 {
    margin-top: 0;
  }
  
  header h2 {
    margin-bottom: 0;
  }
  
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  
  #about img {
    max-width: 50%;
    border: 2px solid #388e3c;
    border-radius: 4px;
  }
  
  #about p {
    margin-bottom: 10px;
  }
  
  #about h3 {
    margin-top: 10px;
  }
  
  #about ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #about ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
  }
  
  #action {
    text-align: center;
    margin-top: 20px;
  }
  
  #action button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-top: 2px solid #388e3c;
    border-left: 2px solid #388e3c;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #action button:hover {
    background-color: #45a049;
  }
  